.box1
{
    position: relative;
   border: 6px solid #fff;
    border-radius: 2px ;
    text-align: center;
    height: 102px;
   
}
.box1:hover
{
   
    background-color: rgba(255, 228, 194, 0.69);
}

.box-icon {
    
	
}
.content1 {
	width: 214px;
	height: 90px;
	overflow: hidden;
	position: relative;
	left: 0px;
	opacity: 0;
	/* transform: translateY(-200px); */
transform:  rotate(-160.5deg) scale(0.3) translateX(-360px)	;
    transition: all 0.4s ease-in-out;
	/*background-color: #8bda41;*/
	transform-origin: left;
     -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=10);
    }

.box1:hover .content1 {
	background-color: antiquewhite;
	opacity: 1;
	transform: translateY(-90px);
    /*animation: boss 0.3s  cubic-bezier(.42, 0, 0, 1.22);
    animation-iteration-count: 1;*/
}

.content1 h4 {
	/* font-size: 15px; */
    background: rgba(119, 0, 36, 0.5);
	height: 30px;
	padding: 6px;
	width: auto;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
  
}

.box1:hover.content1
{
    
}






@media (max-width:400px)
{
    .change
{
    width:50%;
    margin-right: -5px;
}

    .change {
	/*background-color: black;*/
	/*padding-top: 40px;*/
}
    .info-box
    {
       position: relative;
        top:50px;
    }
    .detail {
	position: relative;
	bottom: 45px;
	right: 101px;
	width: 7em;
	text-align: center;
	font-size: .9em;
}
   .box1 {
	position: relative;
       height: 150px;
	/* top: 20px; */
	/* padding: 40px; */
	/* padding-bottom: 40px; */
	padding: 40px 1px 39px 23px;
       border: 1px solid #ddd;
}

   .box-icon {
	width: 1.8em;
	height: 1.8em;
        position: relative;
        bottom:0px;
}
    .detail1 {
	position: relative;
	top: 45px;
	right: 73px;
	font-size: 1.1em;
} 
    .detail2
    {
	position: relative;
	top: 40px;
	right: 65px;
	font-size: 1.1em;
        font-weight: bolder;
}
    .size {
	height: 100%;
	padding-bottom: 50px;
}
    .content1 p {
	margin-top: 20px;
    }
.box1:hover .content1 {
	transform: translateY(-120px) translateX(-23px);
	width: 128px;
	height: 148px;
}

.content1 h4 {
	font-size: 17px;
	height: 55px;
	padding: 7px 1px 0px 1px;
	
    }
}
